/* Estilos globais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2D4356;
  color: #888;
}

h1, h3, h4, p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px; 
  margin: 20px auto;
  padding: 40px;
  background-color: #435B66;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.8);
  border-radius: 25px;
}

/* Estilos de apresentação */
.presentation {
  text-align: center;
  margin-bottom: 40px;
}

.presentation h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.presentation h3 {
  font-size: 18px;
}

/* Estilos da seção de projetos */
.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  width: 30%;
  padding-bottom: 30%;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  overflow: hidden;
  margin-bottom: 20px;
}

.project:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.project:hover img {
  transform: scale(1.10);
}

.project-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project:hover .project-content {
  opacity: 1;
}

/* Estilos da barra lateral */
.sidebar {
  background-color: #f9f9f9;
  width: 0;
  height: 100%;
  transition: width 0.3s ease;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.sidebar.active {
  width: 280px;
}

.sidebar-content {
  text-align: center;
  padding: 20px;
}

.sidebar img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#sidebar-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
}

#sidebar-info {
  text-align: left;
}

#sidebar-title {
  margin: 0;
  font-size: 18px;
  color: #333;
}

#sidebar-description {
  margin: 0;
  font-size: 14px;
  color: #666;
}

/* Estilos da seção de informações de contato */
.contact {
  text-align: center;
  margin-top: 40px;
}

.contact p {
  margin: 5px 0;
}

/* Estilos dos botões */
button {
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #555;
  color: #fff;
  margin: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #333;
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
  }

  .project {
    width: 100%;
    padding-bottom: 100%;
  }

  .sidebar {
    width: 100%;
    height: auto;
  }
}

/* Estilo para imagem selecionada */
.project img.selected {
  border: 2px solid #ff0000;
}
